/*font-family: 'Amatic SC', cursive;
font-family: 'La Belle Aurore', cursive;
*/
*{
    margin: 0;
    padding: 0;

}
ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}



/*backgraud*/
body{

    background-image: url("../assets/backgraund.jpg");
    font-family: 'Amatic SC', cursive;
    
}


/*main*/
.img__logo{
    width: 50%
}

/*productos*/

.letter__custom{
    text-align: center;
    padding-left: 5px;
    margin-bottom: 10px;
    font-family: 'La Belle Aurore', cursive;
}
.btn__custom {
    width: 10rem;
    background-color: rgb(25, 14, 34);
    text-align: center;
    border-radius: 15px;
    border:2px;
    font-size: 17px;

}
/*retoque de cards*/

.card__custom{
    background-color: rgb(0,0,0,0.1);
}

.card {
    margin-top: 20px;
}

/*footer*/
.footer{
    padding-top: 20px;
}




/*pages*/
.titles1{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 150px;
    border-bottom: 2px solid;
    border-color: blueviolet;
}
.titles2{

    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin: 20px;
}
.titles2 h2 {
    width: 150px;
    text-align: center;
    border: 2px solid;
    border-color: blueviolet;
    border-radius: 10px;
    padding:  6px;
}
/*como comprar*/
.mapa{
    
    display: flex;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;

}

/*contacto*/
.main__contacto{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main__contacto iframe{
    justify-content: center;
}
.section_contacto{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: column;
}
.section_contacto li a{
    display: flex;
    justify-content:center;
    margin: 20px;
}


